/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  /* color: #222;
  font-size: 1em;
  line-height: 1.4; */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  color: #eaeaea;
  background: #CE2052; /* magenta */
  /*background: #3f3844;*/ /* dark grey */
  text-shadow: none;
}

::selection {
  color: #eaeaea;
  background: #CE2052; /* magenta */
  /*background: #3f3844;*/ /* dark grey */
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   Author: Sarah Popov
   ========================================================================== */

/* Structural elements
____________________________________________________*/

  *, :after, :before {
       box-sizing: border-box;
       margin: 0;
       border: 0;
       padding: 0;
       font: inherit;
       vertical-align: inherit;
   }

  html {
    font-size: 15px;
    color: #3f3844;
  }

  html, body{
     min-width: 100%;
     height: 100%;
     margin: 0;
     padding: 15px;
     overflow: hidden;
   }

   body {
     background: #eaeaea;
     font-size: 1rem;
     font-family: Avenir, 'Montserrat', sans-serif;
     overflow: hidden;
   }

   .wrapper { /* contains the scrolling elements and sets up main grid */
     width: 100%;
     max-width: 1366px;
     height: 100%;
     margin: 0 auto;
     background: #eaeaea;
     /*background: #f7f7f7;*/
     /*background: #f9f9f9;*/
     overflow-y: auto;
     display: grid;
     grid-template-columns: minmax(200px, 250px) repeat(2, 1fr);
     grid-template-rows: minmax(30vh, auto) 1fr auto;
     grid-gap: 1.5em;
   }

   div, h1, h2, h3, h4, h5, h6 p, a {
     /*border: 1px dotted red;*/
   }

   header,
   /* main, */
   aside,
   footer {
     background: #f7f7f7;
     padding: 20px;
   }

   header {
     padding: 0;
     height: 100%;
     padding: 2em;
     position: relative;
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     justify-content: space-between;
     z-index: 0;
     /* display: grid;
     grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     justify-content: space-between; */
     /* test stuff below */
     /* background: url("../img/For web/Bromeliad_L'Illustration_horticole.png") no-repeat center fixed; */
     /* min-height: 30vh; */
     /* background: url("../img/For web/Cancer_serratus_Zoology_of_New_Holland.png") no-repeat 0 #f7f7f7; */
     /* background: url("../img/Randoms/1.png") no-repeat 0 #f7f7f7; */
     /* background-position: 0;
     background-repeat: no-repeat;
     background-color: var(--color-gray-background); */
     /* background-clip: text; */
     /* -webkit-background-clip: text; */
     /* color: transparent; */
   }

   main,
   header,
   footer {
     align-items: center;
   }

   header,
   footer {
     grid-column: 1 / span 5;
   }

   footer {
     display: flex;
     flex-direction: column;
     position: relative; /* to position BHL image within */
     grid-row: 3 / -1;
     font-size: 0.75rem;
     justify-content: center;
     text-align: center;
     /*background: #f9f9f9;*/
   }

   main {
     min-width: 0;
     grid-column: 2 / span 4;
     grid-row: 2;
     font-size: 1.2rem;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     grid-gap: 1.5em;
     background: transparent;
     /* border: 1px solid red; */
   }

   aside {
     height: 100%;
     grid-area: sidebar;
     grid-column: 1;
     grid-row: 2;
     /* display: grid;
     grid-template-rows: auto [portrait] auto [about] auto [socials] 1fr;
     grid-row-gap: 10px;
     align-items: start;
     justify-items: start; */
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     padding: 1.5em;
     font-size: 0.9rem;
     color: #6F6A73;
     /* border: 1px dotted orange; */
   }

/* logo */

  .logo {
    /* border: 1px solid blue; */
    /* background: rgba(255, 255, 255, 0.6); */
    grid-column: 1;
    display: inline-block;
    white-space: nowrap;
    flex: initial;
    /* flex-grow: 1; */
    text-align: center;
    padding: 0.5em;
    z-index: 2;
    /* margin: 5px; */
  }

  .logo h1 {
    font-weight: 700;
    font-size: 2.5em;
    /* border: 1px dotted blue; */
    /* color: #f7f7f7; */
    /* text-shadow: 2px 2px var(--color-black); */
    /* text-shadow: 2px 2px #F7F7F7; */
    /* text-shadow: 2px 2px 2px #F7F7F7,
                -2px -2px 2px #F7F7F7,
                -2px 2px 2px #F7F7F7,
                2px -2px 2px #F7F7F7; */
    margin: 0;
  }

  .logo h2 {
    font-weight: 600;
    margin: 0;
    transition: 0.3s;
  }

  .logo a, .logo a:hover {
    text-decoration: none;
    color: inherit;
  }

/* navigation */

  nav {
    grid-column: 3 / -1;
    justify-self: end;
    /* border: 1px solid black; */
    font-family: 'Montserrat', Avenir, Calibri, Arial, sans-serif;
    white-space: nowrap;
    flex: initial;
    /* flex-grow: 2; */
    text-align: center;
    justify-content: center;
  }

  nav a {
    display: inline-block;
    /* background: #fff; */
    /* text-shadow: 1px 1px 1px #F7F7F7; */
    position: relative;
    margin: 0 1em;
    padding: 0.35em 0;
  }

  nav a, nav a:visited {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: var(--color-black);
    opacity: 0.7;
    /* text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.35em; */
  }

  nav a:hover {
    opacity: 1;
    color: var(--color-black);
    /* text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.5em; */
  }

  nav a:focus {
    opacity: 1;
  }

  /* Fade in */
  nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15em;
    border-radius: 0.1em;
    background-color: var(--color-black);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  nav a:hover::after,
  nav a:focus::after,
  nav a:active {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  nav .active::after { /* using .active class as opposed to pseudoclass to apply this css style w Hugo logic */
  /* text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.35em; */
    opacity: 1;
   }

  /* nav .active:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.5em;
  } */

/* header highlight effect */

.header-highlight{
  position:relative;
}

.header-highlight::before {
    content: "";
    z-index: -1;
    position: absolute;
    border-style: solid;
    background: var(--color-gray-background);
    height: 3em;
    -webkit-border-radius: 2px;
    transform: skew(-10deg);
}

.logo.header-highlight::before {
  left: 0em;
  top: 1em;
  width: 100%;
  height: 55%;
}

nav .header-highlight::before {
  top: -60%;
  width: 96%;
}

/* Sidebar */

  .portrait {
    max-width: 100%;
    float: none;
    /*border: 1px solid red;*/
  }

  .about {
    width: 100%;
    /*border: 1px solid red;*/
  }

  .socials {
    width: 100%;
    /*border: 1px solid red;*/
  }

  .socials > .socials-links a {
    width: 100%;
  }

  .socials-links {
    margin: 0;
  }

  .socials-links li {
    display: inline;
  }

  .socials-links a {
    text-align: left;
  }

  .socials > .socials-links a, .socials > .socials-links a:visited {
    display: inline-block;
    width: 100%;
  }

  .socials-links a, .socials-links a:visited {
    margin: 2px 0;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 2px;
    color: dimgray;
    opacity: 0.6;
    padding: 10px 10px 5px 10px;
    background-color: #fff;
    border-bottom: 5px solid #fff;
  }

  /* cute menu colors */

  .socials-links li:hover:nth-child(5n+1) a {
    color: var(--color-orange);
    border-bottom: 5px solid var(--color-orange);
  }

  .socials-links li:hover:nth-child(5n+2) a {
    color: var(--color-yellow);
    border-bottom: 5px solid var(--color-yellow);
  }

  .socials-links li:hover:nth-child(5n+3) a {
    color: var(--color-dark-chartreuse);
    border-bottom: 5px solid var(--color-dark-chartreuse);
  }

  .socials-links li:hover:nth-child(5n+4) a {
    color: var(--color-green);
    border-bottom: 5px solid var(--color-green);
  }

  .socials-links li:hover:nth-child(5n+5) a {
    color: var(--color-red);
    border-bottom: 5px solid var(--color-red);
  }

  .socials-links a:hover {
    opacity: 1;
    text-decoration: none;
  }

  .socials-links a:active {
    opacity: 1;
   }

  .socials-links .active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4EBA6F;
  }

/* Main regular (non-block) content */
.content-full {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  padding: 1.5em;
}

/* Main content blocks */
/* See codepen here: https://codepen.io/liguha/pen/vYZWgqx?editors=1100 */

/* Front page intro block */

.intro-block {
  width: 100%;
  padding: 1.5em;
  font-size: 1rem;
  text-align: center;
  transition: 0.3s;
  background: #f7f7f7;
}

.intro-block h1 {
  font-family: 'Kaisei HarunoUmi', serif; /*'PT Serif', serif;*/
  font-weight: 200;
  line-height: 1.5em;
  margin: 0;
}

.intro-block p {
  font-family: 'Avenir', 'Montserrat', sans-serif;
  font-weight: 200;
  line-height: 1.5em;
  margin: 0.3em;
}

.intro-block img {
  max-width: 50%;
  margin: 0.5em;
}

/* Front page project/work blocks */
/* They are contained within this div */
.front-page-projects {
  display: flex;
  flex-flow: column;
  grid-gap: 0;
  width: 100%;
}

/* All other blocks */

.content-block {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1.5em;
  padding: 2em;
  /* margin: 0 0 2em 0; */
  /* border: 1px dotted red; */
  background: #f7f7f7;
  font-size: 1rem;
  transition: 0.3s;
}

.content-block h3 {
  font-weight: 400;
  margin-bottom: 0.1em;
}

.content-block h4 {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.1em;
}

.content-block h6 {
  font-weight: 400;
  font-size: 0.9rem;
}

.content-block > p {
  margin-bottom: 0;
}

.content-block > a {
  display: contents; /* See here: https://stackoverflow.com/a/62932906/1454785 */
}

.content-block a, .content-block a:hover {
  text-decoration: none;
}

.content-block-title {  /* contains the header */
  /* border: 1px solid black; */
  /* font-size: 1.5rem; */
  flex: 1 0 100%;
}

.content-block-title > h1 {
  margin-bottom: 0.2em;
  line-height: 1;
}

.content-block-blurb {
    /* border: 1px dotted black; */
    color: var(--color-black);
  flex: 3 1 70%;
  order: 2;
}

.content-block-blurb > p {
  /* margin: 1em; */
  overflow: none;
  /*   flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 2; */
}

.content-block .img-wrapper {
    /* border: 1px dashed black; */
    text-align: center;
  flex: 1 0 20%;
  order: 1;
  /*   max-width: 20%; */
  /*   height: 100px; */
}

.content-block img {
  min-width: 200px;
  max-width: 60%;
  max-height: 250px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*   height: 100px; */
}

.content-block:nth-of-type(odd) .img-wrapper {
  order: 3;
}

.content-tags {
    /* border: 1px dotted blue; */
  flex: 1 0 100%;
  order: 3;
  align-self: flex-end;
}

.tag{
  display: inline-block;
  padding: 1.2em;
  margin: 0 5px 0 0;
  background-color: #fff;
  color: var(--color-gray-dark);
  border: 1px solid var(--color-shadow);
  border-radius: 4px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: 500;
  line-height: 0;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
}

.tag a {
  margin: 1.2em;
  text-decoration: none;
}

.tag a:hover {
  color: var(--color-red);
}


/* Footer */

  footer > p {
    clear: both;
    font-family: 'Avenir', 'Montserrat', sans-serif;
    margin: 0.5em;
    width: 30em;
    max-width: 90vw;
    line-height: 1em;
    z-index: 1;
  }

  #footer-img {
    /* note: footer container div must be position: relative;*/
    position: absolute;
    right: 1em;
    bottom: 1em;
    max-height: 130%;
    z-index: 0;
  }

/* Images */

figure, picture {
  text-align: center;
  align-self: center;
  max-width: 90%;
}

figure img, picture img {
  max-width: 100%;
  height: auto;
}

figcaption, figcaption p {
  font-family: 'Avenir', 'Montserrat', sans-serif;
  color: #665f6a;
  font-size: 0.9em;
  margin: 0.75em;
}

.album, .logo-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 2em;
}

.album img {
  max-width: 30%;
}

.gallery-logo {
  max-width: 250px;
  height: auto;
  /* display: inline-block;
  float: left; */
  filter: grayscale(1);
  transition: 0.3s;
}

.gallery-logo:hover {
  filter: none;
}

.gallery-img {
  max-width: 200px;
}

/* Colors */
/* Shamelessly lifted from https://htmlcolorcodes.com/ */
:root {
    --color-black: #3F3844;
    --color-white: #FFFFFF;
    --color-gray-dark: #888888;
    --color-gray: #C3C3C3;
    --color-gray-border: #EAEAEA;
    --color-gray-background: #F7F7F7;
    --color-magenta: #900C3F;
    --color-red: #C70039;
    --color-orange: #FF5733;
    --color-yellow: #f4b107; /* FFC300 */
    --color-green: #5AE5B8;
    --color-chartreuse: #DAF7A6;
    --color-dark-chartreuse: #85AD3A;
    --color-blue: #00BAAD;
    --color-purple: #581845;
    --color-shadow: rgba(63, 56, 68, 0.0625);
  }

/* Palette divs */
  .colorpal {
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    margin: 5px;
  }

  .color-black {background-color: #3F3844;}
  .color-white {background-color: #FFFFFF;}
  .color-gray-dark {background-color: #888888;}
  .color-gray {background-color: #C3C3C3;}
  .color-gray-border {background-color: #EAEAEA;}
  .color-gray-background {background-color: #F7F7F7;}
  .color-magenta {background-color: #900C3F;}
  .color-red {background-color: #C70039;}
  .color-orange {background-color: #FF5733;}
  .color-yellow {background-color: #FFC300;}
  .color-green {background-color: #5AE5B8;}
  .color-chartreuse {background-color: #DAF7A6;}
  .color-blue {background-color: #00BAAD;}
  .color-purple {background-color: #581845;}
  .color-shadow {background-color: rgba(63, 56, 68, 0.0625);}

/* Cute HR colors */

  hr:nth-of-type(7n+1) {
    border-top: 1px solid var(--color-magenta);
  }

  hr:nth-of-type(7n+2) {
    border-top: 1px solid var(--color-red);
  }

  hr:nth-of-type(7n+3) {
    border-top: 1px solid var(--color-orange);
  }

  hr:nth-of-type(7n+4) {
    border-top: 1px solid var(--color-yellow);
  }

  hr:nth-of-type(7n+5) {
    border-top: 1px solid var(--color-dark-chartreuse);
  }

  hr:nth-of-type(7n+6) {
    border-top: 1px solid var(--color-blue);
  }

  hr:nth-of-type(7n+7) {
    border-top: 1px solid var(--color-purple);
  }

/* Thanks to http://getskeleton.com for basic UI elements */

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

   /* All font sizes are in em, and scale relative to the font size
   defined in the parent container: https://css-tricks.com/rems-ems/ */

   a {
     transition: 0.3s;
   }

   i, em {
     font-style: oblique; /* Since none of our imported fonts have an italic style :( */
   }

     h1, h2, h3, h4, h5, h6 {
       margin-top: 0;
       margin-bottom: 0.35em;
       clear: both;
     }

     h1 {
       /*font-family: 'Montserrat', sans-serif;*/
       font-family: 'Kaisei HarunoUmi', serif; /*'PT Serif', serif;*/
       font-size: 2.2em;
       line-height: 1.2em;
       letter-spacing: 0.1em;
       text-transform: uppercase;
       /*font-weight: 700;*/
     }

     h2 {
       font-family: 'Montserrat', sans-serif;
       font-size: 1.8em;
       line-height: 2em;
       letter-spacing: 0.1em;
       text-transform: uppercase;
       font-weight: 500;
     }

     h3 {
       font-family: 'Montserrat', sans-serif;
       font-size: 1.6em;
       line-height: 1.4em;
       letter-spacing: 0.1em;
       text-transform: uppercase;
       font-weight: 300;
       color: #27232B;
     }

     h4 {
       font-family: 'Montserrat', sans-serif;
       font-size: 1.2em;
       line-height: 1.4em;
       letter-spacing: 0em;
       text-transform: uppercase;
       font-weight: 600;
     }

     h5 {
       font-family: 'Montserrat', Avenir, sans-serif;
       font-size: 1.1em;
       line-height: 1.5em;
       letter-spacing: 0em;
       text-transform: uppercase;
       font-weight: 100;
     }

     h6 {
       font-family: 'Montserrat', Avenir, sans-serif;
       font-size: 1.1em;
       line-height: 1.6;
       letter-spacing: 0;
       font-weight: 500;
     }

     .lined-header {
        overflow: hidden;
        text-align: center;
      }

      .lined-header:before,
      .lined-header:after {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 5%;
      }

      .lined-header:before {
        right: 0.5em;
        margin-left: -50%;
      }

      .lined-header:after {
        left: 0.5em;
        margin-right: -50%;
      }

     p {
       font-family: 'Kaisei HarunoUmi', serif; /*'PT Serif', serif;*/
       margin-bottom: 2em;
       line-height: 2em;
       color: #57515B;
     }

     aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 {
       color: #57515B;
     }

     aside p {
       font-family: 'Avenir', 'Montserrat', sans-serif;
       text-align: justify;
       font-weight: 200;
       line-height: 1.5em;
       margin-bottom: 0.3em;
     }

     aside ol li, aside ul li {
       line-height: 1.4em;
     }

     blockquote {
       margin: 2em;
       padding-left: 0.5em;
       border-left: 5px solid var(--color-shadow);
     }

     blockquote:hover{
       border-left: 15px solid var(--color-green);
       transition: 0.5s;
     }

     blockquote p {
       margin: 0;
       font-style: oblique;
       font-size: 1.1em;
       color: grey;
     }

   /* Larger than phablet (needs to be tested)
   @media (min-width: 550px) {
     h1 { font-size: 5.0em; }
     h2 { font-size: 4.2em; }
     h3 { font-size: 3.6em; }
     h4 { font-size: 3.0em; }
     h5 { font-size: 2.4em; }
     h6 { font-size: 1.5em; }
   }*/

   .publications {
     margin-bottom: 2em;
   }

    .publications > p {
      text-indent: -2em;
      margin-left: 2em;
    }


   /* Links
   –––––––––––––––––––––––––––––––––––––––––––––––––– */
   a {
     /* color: #1EAEDB;  */ /* skeletonize color */
     color: var(--color-blue);
   }
   a:hover {
     /* color: #0FA0CE;  */ /* skeletonize color */
     color: #0bcdc0;
   }

   /* Fun animated effect from here - https://css-irl.info/animating-underlines/ */
   /* a {
      background:
        linear-gradient(to right, #0bcdc0, #0bcdc0),
        linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
      background-size: 100% 1px, 0 1px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: background-size 400ms;
    }

    a:hover,
    a:focus {
      background-size: 0 1px, 100% 1px;
    } */


   /* Buttons
   –––––––––––––––––––––––––––––––––––––––––––––––––– */
   .button,
   button,
   input[type="submit"],
   input[type="reset"],
   input[type="button"] {
     display: inline-block;
     height: 38px;
     padding: 0 30px;
     color: var(--color-black);
     text-align: center;
     font-size: 11px;
     font-weight: 600;
     line-height: 38px;
     letter-spacing: .1rem;
     text-transform: uppercase;
     text-decoration: none;
     white-space: nowrap;
     background-color: #fff;
     border-radius: 4px;
     /*border: 1px solid #bbb;*/
     opacity: 1;
     cursor: pointer;
     margin: 5px;
     box-sizing: border-box;
     transition: 0.3s;
   }

   .button:hover,
   button:hover,
   input[type="submit"]:hover,
   input[type="reset"]:hover,
   input[type="button"]:hover,
   .button:focus,
   button:focus,
   input[type="submit"]:focus,
   input[type="reset"]:focus,
   input[type="button"]:focus {
     opacity: 0.6;
     /*border: 1px solid #bbb;*/
     outline: 0; }
   .button.button-primary,
   button.button-primary,
   input[type="submit"].button-primary,
   input[type="reset"].button-primary,
   input[type="button"].button-primary {
     color: #FFF;
     background-color: #00BAAD;}
   .button.button-primary:hover,
   button.button-primary:hover,
   input[type="submit"].button-primary:hover,
   input[type="reset"].button-primary:hover,
   input[type="button"].button-primary:hover,
   .button.button-primary:focus,
   button.button-primary:focus,
   input[type="submit"].button-primary:focus,
   input[type="reset"].button-primary:focus,
   input[type="button"].button-primary:focus {
     color: #FFF;
     background-color: var(--color-blue);}

 /* Lists
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
   ul {
     list-style: circle; }
   ol {
     list-style: decimal; }
   ol, ul {
     padding-left: 0;
     margin: 1.5rem; }
   ul ul,
   ul ol,
   ol ol,
   ol ul {
     margin: 1.5rem 0 1.5rem 3rem;
     font-size: 90%; }
   li {
     margin-bottom: 1rem;
     line-height: 2em;
    }


 /* Code blocks
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
   code {
     /* padding: .2rem .5rem; */
     padding: 1px;
     margin: 0 .2rem;
     font-size: 90%;
     white-space: nowrap;
     overflow-x: auto;
     background: #f1f1f1;
     border: 1px solid #e1e1e1;
     border-radius: 4px; }
   pre > code {
     display: block;
     padding: 1rem 1.5rem;
     white-space: pre; }


 /* Tables
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
  table {
    border-spacing: 0;
  }
  th {
    font-weight: 500;
    background-color: #f1f1f1;
  }
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
  }

/* iframes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

iframe {
  margin: 0 0 2em 0;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
}


 /* Spacing
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
   input,
   textarea,
   select,
   fieldset {
     margin-bottom: 1.5rem; }
   pre,
   blockquote,
   dl,
   figure,
   table,
   form {
     margin-bottom: 2.5rem; }


/* Responsive resizing (media queries)
____________________________________________________*/

  @media (max-width: 1150px) {

    .content-block-blurb {
      order: 3;
    }

    .content-block .img-wrapper {
      order: 1;
    }

  }

  @media (max-width: 710px) {

    html, body {
      padding: 0;
    }

    .wrapper {
      grid-template-rows: auto;
    }

    header {
      justify-items: center;
    }

    .logo {
      flex: 1 0 100%;
      white-space: normal;
    }

    nav {
      flex-grow: 1;
      /* background: rgba(255, 255, 255, 0.6); */
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding: 0.5em;
    }

    nav a {
      margin: 0.5em 1em;
      min-width: 150px;
    }

    nav .header-highlight::before {
      top: 0;
      transform: skew(0);
    }

    main,
    aside {
      grid-column: 1 / span 5;
    }


    main {
      grid-row: 2;
    }

    aside {
      grid-row: 3;
    }

    .portrait {
      max-width: 60vw;
    }

    .about, .socials {
      max-width: 80vw;
      /* grid-column: 2; */
    }

    footer {
      grid-row: 4;
    }

    #footer-img {
      position: relative;
      right: 0;
      bottom: 0;
      width: 30%;
      margin: 1em;
    }

  }

@media (hover: none) {

  .gallery-logo {
    filter: none;
  }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

 .clickable:hover {
   opacity: 0.8;
   cursor: pointer;
 }

.no-border {
  border: none;
}

.clear-me-daddy {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

/* Skeletonize helpers */
 .u-full-width {
   width: 100%;
   box-sizing: border-box; }

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print,
 (-webkit-min-device-pixel-ratio: 1.25),
 (min-resolution: 1.25dppx),
 (min-resolution: 120dpi) {
 /* Style adjustments for high resolution devices */
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
