<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div class="wrapper">

      {{ partial "header.html" . }}

      <aside class="sidebar">

        {{ if .IsHome }}
          {{ block "about" . }}{{end}}
        {{end}}

      </aside>

      <main>

        {{ block "main" . }}{{ end }}

      </main>

      {{ partial "footer.html" . }}

    </div> <!-- end wrapper -->

  <script src="{{ "js/vendor/modernizr-3.11.2.min.js" | relURL }}"></script>
  <script src="{{ "js/vendor/lazysizes.min.js" | relURL }}"></script>
  <script src="{{ "js/plugins.js" | relURL }}"></script>
  <script src="{{ "js/main.js" | relURL }}"></script>

  </body>
</html>
