{{ define "main" }}

<div class="content-full">

  <h1>{{ .Title }}</h1>
  <h3>{{ .Params.Subtitle }}</h3>
  {{ if eq .Section "projects"}}
    <h6>{{ .PublishDate.Format "2006-01-02" }}</h6>
  {{end}}
  {{ if .Params.tags }}
    <div>
      <span style="text-transform: uppercase; font-weight: 500; font-size: 0.8em; letter-spacing: 0.1em;">Tags: </span>
      {{ range .Params.tags }}
      <a class="tag" href="/tags/{{.}}">{{.}}</a>
      {{end}}
    </div>
  {{end}}

  <br>
  {{ .Content }}

</div>

{{ end }}
