{{ define "main" }}

  <div class="content-block">
    <div class="content-block-title">
      <h1 style="margin-bottom: 0em;">Projects tagged "<font style="color: var(--color-blue);">{{ .Title }}</font>"</h1>
    </div>
  </div>

  {{ range .Pages.ByDate.Reverse }}

    {{ partial "content-block.html" . }}

  {{end}}

{{ end }}