{{ $item := . }}
<div class="content-block clickable">
  <!-- <div class="content-block-title">
    <h1><a href="{{.Permalink}}">{{ .Title }}</a></h1>
  </div> -->
  <a href="{{.Permalink}}">
      {{ $alt := .Params.featured_alt }}
      {{ with .Params.featured_image }}
        {{ $resource := ($item.Resources.ByType "image").GetMatch . }}
        <div class="img-wrapper">
          {{ with $resource}}
            <img src="{{.RelPermalink}}" alt="{{$alt}}">
          {{end}}
        </div>
      {{ end }}

      <div class="content-block-blurb">
        <h3>{{.Title}}</h3>
        {{ with .Params.subtitle }}
          <h4>{{ . }}</h4>
        {{end}}
        <h6>{{ .PublishDate.Format "2006-01-02" }}</h6>
        <p>{{ .Summary }}</p>
      </div>
      </a>

      {{ if .Params.tags }}
        <div class="content-tags">
          <span style="text-transform: uppercase; font-weight: 500; font-size: 0.7em;">Tags: </span>
          {{ range .Params.tags }}
          <a class="tag" href="/tags/{{.}}">{{.}}</a>
          {{end}}
        </div>
      {{end}}

</div>
