<footer>
    <p>Copyright &copy; 2021-{{now.Format "2006"}} Sarah Popov.</p>
    <p>Designed by Sarah Popov and powered by Hugo.</p>
    <p>
      Many of the images you see on this website come from the Biodiversity Heritage Library, an amazing initiative digitizing and preserving historical texts for all. Read about the creation of this website and the beautifully imagery <a href="colophon">here</a>.
    </p>

    <img id="footer-img">
    <!--src="./img/For web/A_uniocellatus_The_Fishes_of_Samoa.png">-->
    </img>
</footer>
