<div class="intro-block">
  {{ $alt := .Params.featured_alt }}
  {{ with .Params.featured_image }}
      <img src="{{ . }}" alt="{{$alt}}">
  {{ end }}
  <h1>{{ .Title }}</h1>
  {{ with .Params.subtitle }}
    <h3><i>{{ . }}</i></h3>
  {{ end }}
  {{ .Content }}
</div>