<head>
  <meta charset="utf-8">
  <title>Popov EcoData | {{ .Title }}</title>
  <meta name="description" content="Marine ecologist with a strong data management background who cares about great design. If you need someone who can wrangle big fish and big data in one go, let's have a chat.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="dc.relation" content="{{ .Site.BaseURL }}" />
  <base href="{{ .Site.BaseURL }}">

  <meta property="og:title" content="Popov EcoData | Ecological Data Management">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.sarahpopov.com/">
  <meta property="og:description" content="Marine ecologist with a strong data management background who cares about great design. If you need someone who can wrangle big fish and big data in one go, let's have a chat.">
  <meta property="og:image" content="img/og_image.png">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <link rel="stylesheet" href="{{ "css/normalize.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/hugo-easy-gallery.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <meta name="theme-color" content="#fafafa">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J6EPWWKVW0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-J6EPWWKVW0');
  </script>
</head>
