<header id="header">

    {{ $currentPage := . }} <!-- If current page matches a menu item, apply class .active to it -->

    <!-- <div class="scrim"> <!-- Better solution eventually would be style bg image w a pseudo element -->

    <span class="logo header-highlight"><a href="{{.Site.BaseURL}}"><h2 class="clickable"><b>Popov</b> EcoData</h2></a></span>
    <!--<span class="logo header-highlight"><a href="{{.Site.BaseURL}}"><h1>Sarah <b>Popov</b></h1></a></span>-->

    <nav role="navigation">

      <!-- this fails when navigating to any subdirectory -->
      <!-- {{ range .FirstSection.RegularPages }}
        <a href="{{.Permalink}}">{{.Title}}</a>
      {{end}} -->

      <!-- This approach requires you to specify menu: main in content frontmatter -->
      {{ range .Site.Menus.main }}
        <span class="header-highlight">
          <a href="{{.URL}}" class="{{ if $currentPage.IsMenuCurrent `main` . }}active{{ end }}">{{.Title}}</a>
        </span>
      {{end}}

      <!-- This approach just hard-codes the links -->
      <!-- <a href="/consulting">Consulting</a>
      <a href="/publications">Publications</a>
      <a href="/cv">CV</a> -->

    </nav>
    <!-- </div> -->
</header>
