<!-- Not currently in use! -->
<aside class="sidebar">

    {{ define "about" }}
      {{ with .Site.GetPage "about" }}
        <div class="about">
          {{.Content}}
        </div>
      {{end}}
    {{ end }}

    <div class="socials">
      <h5>Get in touch</h5>
      <a>sarah [dot] popov [at] mail.mcgill.ca</a>
      <br>
      <br>
      <br>
      <h5>Follow me</h5>
      <ul class="socials-links">
        <li><a href="https://twitter.com/srharacha">Twitter</a></li>
        <li><a href="https://scholar.google.com/citations?user=6J1bgFAAAAAJ&hl=en">Google Scholar</a></li>
        <li><a href="https://gitlab.com/popovs">GitLab</a></li>
      </ul>
    </div>
</aside>
