<ul class="socials-links">
  <li><a href="https://twitter.com/srharacha">Twitter</a></li>
  <li><a href="https://www.researchgate.net/profile/Sarah-Popov">ResearchGate</a></li>
  <li><a href="https://scholar.google.com/citations?user=6J1bgFAAAAAJ&hl=en">Google Scholar</a></li>
  <li><a href="https://gitlab.com/popovs">GitLab</a></li>
  <li><a href="https://github.com/popovs">GitHub</a></li>
</ul>