{{ define "about" }}
  {{ with .Site.GetPage "about" }}

    {{ with .Params.portrait }}
      <img class="portrait" src="{{ . }}" alt="It me!">
    {{end}}

    <div class="about">
      {{.Summary | markdownify}}
      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">More about me &#8594;</a>
      {{end}}
    </div>

    <div class="socials">
      <h5>Get in touch</h5>
      <a>sarah [dot] popov [at] mail.mcgill.ca</a>
      <br>
      <br>
      <h5>Follow me</h5>
      {{ partial "socials.html" . }}
    </div>

  {{ end }}
{{ end }}

{{ define "main" }}

  {{ with .Site.GetPage "front-page-intro" }}
    {{ partial "front-page-intro.html" . }}
  {{ end }}

  <div class="front-page-projects">
    <div class="intro-block" style="padding: 1.5em 1.5em 0 1.5em;">
      <h2 class="lined-header">Featured work</h2>
    </div>

    <!-- [range where .Pages "Section" "projects"] Choose to display "projects" section -->
    {{ $featured := .Site.Taxonomies.categories.featured  }}
    {{ range ($featured.Pages.GroupByParam "featured") }} <!-- Display pages with 'featured' category AND featured: true in YAML -->
        {{ range first 3 .Pages }} <!-- Iterate over all pages within the section chosen above -->

          {{ partial "content-block.html" . }}

        {{end}}
    {{end}}
  </div>

{{ end }}
